<h1 class="ui monster section dividing header" style="position: relative; max-width: 800px; margin: 50px auto 120px auto; text-align: center; border: 0">
    {{ 'setono_sylius_quick_order.ui.quick_order'|trans }}
    <div class="sub header" style="margin-top: 20px; line-height: 1.7">{{ 'setono_sylius_quick_order.ui.quick_order_introduction'|trans }}</div>
</h1>
