<div style="display: flex; justify-content: right; margin-bottom: 20px;">
    <button type="submit" class="ssqo-button-add ui primary icon button" style="margin: 0"><i class="plus icon"></i> {{ 'setono_sylius_quick_order.ui.add_line'|trans }}</button>
</div>
