{{ form_start(pasteForm, {'attr': {'class': 'ssqo-paste-form ui form'}}) }}
    {{ form_row(pasteForm.data) }}

    <button type="submit" class="ui huge primary button">{{ 'setono_sylius_quick_order.ui.add_to_quick_order'|trans }}</button>
{{ form_end(pasteForm) }}
