<h2 class="ui monster section dividing header" style="position: relative; max-width: 800px; margin: 80px auto 50px; text-align: center; border: 0">
    {{ 'setono_sylius_quick_order.ui.paste_from_document'|trans }}
    <div class="sub header" style="margin-top: 20px; line-height: 1.7">{{ 'setono_sylius_quick_order.ui.paste_from_document_introduction'|trans }}</div>
</h2>
