{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}

    {{ form_start(form) }}
        {% for item in form.items %}
            {{ form_row(item.quantity) }}
            {{ form_row(item.variant) }}
        {% endfor %}

        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
